<<<<<<< HEAD
html
  head
    title="Productos"
  body
    h1="Producto"
=======
html
  head
    title="Productos"
  body
    h1="Producto"
>>>>>>> 3af1cd2fcb1d92ec5f227fe2695ecad61a9b5b57
    p=`${titulo} ${thumbnail} ${thumbnail}`